/* Mavigation Section */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 1px 10px;
    padding-bottom: 12px;

}



/* Home Section */
#home{
    height: 370px;
    flex-direction: column;
    padding: 2px 65px;
}
#home p{
    font-size: 13px;
}

#home ::before{
    height: 400px;
}
/* Service Section */

#services{
    flex-direction: column;
}

#services.box{
   
    padding: 11px 1px;
    margin: 4px 11px;
    margin-bottom: 20px;

}



/* Client Section */
#clients{
    flex-wrap: wrap;
}
#clients img{
    width : 60px;
    padding: 10px 25px;
    /* height:auto  */
}
/* Contact Us Section */


/* Footer */

/* Utility Classes */

